body {
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: red;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

form {
    border: 3px solid black;
    padding: 20px 30px;
    background-color: antiquewhite;
    width: 420px;
}

.field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.field label {
    width: 220px;
}

.field input {
    width: 150px;
    padding: 5px;
}

.center {
    justify-content: center;
}

button {
    padding: 8px 18px;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: #fff7cc;
    color: blue;
    cursor: pointer;
}
.btn{
    margin: 10px;
}
.result {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: green;
    padding-top: 10px;
    border-top: 2px solid #333;
}
.reset-btn {
    padding: 8px 18px;
    border: 2px solid brown;
    border-radius: 5px;
    background-color: #fff7cc;
    color: blue;
    text-decoration: none;
    margin-left: 10px;
}

